security:

    password_hashers:
        App\Entity\User:
            algorithm: auto

    providers:
        app_user_provider:
            entity:
                class: App\Entity\User
                property: email

    firewalls:

        # 1) DEV: désactivé
        dev:
            pattern: ^/(_(profiler|wdt)|css|images|js)/
            security: false

        # 2) FRONT TWIG (session)
        main:
            pattern: ^/
            provider: app_user_provider
            lazy: true
            stateless: false
            form_login:
                login_path: login
                check_path: login
                enable_csrf: true
            logout:
                path: logout
                target: /

        # 3) LOGIN JWT
        login:
            pattern: ^/api/login
            stateless: true
            provider: app_user_provider
            json_login:
                check_path: /api/login
                username_path: email
                password_path: password
                success_handler: lexik_jwt_authentication.handler.authentication_success
                failure_handler: lexik_jwt_authentication.handler.authentication_failure

        # 4) API PROTÉGÉE PAR JWT
        api:
            pattern: ^/api
            stateless: true
            provider: app_user_provider
            jwt: ~

    access_control:
        # TWIG PUBLIC
        - { path: ^/login, roles: PUBLIC_ACCESS }
        - { path: ^/register, roles: PUBLIC_ACCESS }

        # API PUBLIC
        - { path: ^/api/login, roles: PUBLIC_ACCESS }

        # API PRIVÉ
        - { path: ^/api, roles: IS_AUTHENTICATED_FULLY }

        # TWIG ADMIN
        - { path: ^/admin, roles: ROLE_ADMIN }