RewriteEngine On

# Laisser passer les vrais fichiers et dossiers

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d

# Router tout vers Symfony

RewriteRule ^ index.php [QSA,L]

# Fix AlwaysData PHP-FPM

<FilesMatch "\.php$">
SetHandler proxy:unix:/home/baptistev59/.php-fpm.sock|fcgi://localhost
</FilesMatch>

Options -MultiViews
